.contact-container {
  text-align: center;
}

.contact-title {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.contact-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items */
  gap: 20px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 250px; /* Set width of each item */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.contact-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.contact-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.icon {
  font-size: 24px;
  margin-bottom: 8px;
  transition: transform 0.3s ease;
}

.contact-item:hover .icon {
  transform: rotate(20deg);
}

.whatsapp {
  color: #25d366;
}

.phone {
  color: #4caf50;
}

.email {
  color: #f44336;
}

.instagram {
  color: #e1306c;
}

.linkedin {
  color: #0077b5;
}

.youtube {
  color: #ff0000;
}
