.contact-container {
    padding: 4rem 1rem;
    /* background: linear-gradient(to right, #f7f9fc, #e5edf5); */
    background-color: #242424;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-title {
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: #e1d4d4;
  }
  
  .contact-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 900px;
  }
  
  .contact-item {
    // background-color: #f8f8f8;
    background-color: #4a4a4a;;
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  
  .contact-item:hover {
    transform: translateY(-8px);
    background-color: #817373;
  }
  
  .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  /* Specific colors */
  .whatsapp { color: #25D366; }
  .phone { color: #007BFF; }
  .email { color: #FF6B6B; }
  .instagram { color: #E1306C; }
  .linkedin { color: #0077B5; }
  .youtube { color: #FF0000; }
  
  /* Mobile responsiveness */
  @media (max-width: 600px) {
    .contact-items {
      grid-template-columns: 1fr;
    }
  }
  